src/.env
/src/__pycache__
data/idiomas.json
data/modos.json
/src/utils/__pycache__
data/config_debug.json
/logs
/.venv
data/client_secret.json
data/credentials.json
data/token.json
src/utils/drive_sync.py
